body{
  
      font-family: 'DM Sans', sans-serif;
      background-image: url('assets/bg.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      margin: auto;
      text-align: center;
      padding: 10px;
  color: white;
}

nav{
  margin: 20px;
}



section{ 
  width: 50%;
  margin: 50px auto 0px auto;
  padding: 20px;
  border-radius: 20px;

background: rgba( 223, 223, 223, 0.15 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 0px );
-webkit-backdrop-filter: blur( 0px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
  outline:  1px solid white;
    display: flex;
  flex-direction: column;
}

h1{ 
      font-size: 2.5em;

    }


h1,h2{
          text-shadow: 2px 2px lightslategray;

}

.center{
  display: flex;
  justify-content: center; 
  margin: 10px;
}

#image{
padding: 10px;
}

/* unvisited link */
a:link {
  color: darkblue;
}

/* visited link */
a:visited {
  color: darkviolet;
}

/* mouse over link */
a:hover {
  color: cyan;
}

/* selected link */
a:active {
  color: cyan;
}

footer {
  background-color: lightslategray;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  justify-content: center;
position: fixed;
  padding: 10px 0 10px 0;
  z-index: 1;
    animation-name: example;
  animation-duration: 10s;
}

@keyframes example {
  from {background-color: black;}
  to {background-color: lightslategray;}
}

.responsive {
  width: 100%;
  height: auto;
}

.tableborder1{
 border: 1px solid;
}

.tableborder2{
  border: 2px solid;
}

.clear { clear: both; height: 100px; }
